<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600928974715-ll4sem7efqhvpdds1gri5vde96v12v3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600928974715-ll4sem7efqhvpdds1gri5vde96v12v3r</string>
	<key>API_KEY</key>
	<string>AIzaSyDwWyR3nj_bADU-qnYZSu-QTFgQs66BAac</string>
	<key>GCM_SENDER_ID</key>
	<string>600928974715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.yakservices</string>
	<key>PROJECT_ID</key>
	<string>yakservices-e1e6b</string>
	<key>STORAGE_BUCKET</key>
	<string>yakservices-e1e6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600928974715:ios:af29e4587e2168d20d2fde</string>
</dict>
</plist>